{% extends 'base.html.twig' %}

{% block title %}New Sindicato{% endblock %}

{% block body %}
    <h1>Create new Sindicato</h1>

    {{ include('sindicato/_form.html.twig') }}

    <a href="{{ path('app_sindicato_index') }}">back to list</a>
{% endblock %}
